<h3><i class="fas fa-book-reader">Your Life</i></h3>
<div class="section">
    <p class="lead">3615 YourLife en privée ou en public</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Log with google

    </a>
</div>